<?xml version="1.0"?>
<configuration>
  
  <system.windows.forms jitDebugging="true" />
  
	<appSettings>
		<!--自动下载壁纸，1是0否-->
		<add key="IS_AUTO_DOWNLOAD" value="1"/>
		<!--壁纸下载保存目录-->
		<add key="DOWNLOAD_SAVE_DIR" value="\wallpapers\"/>
	</appSettings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
